@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #ffffff; /* Light background */
  color: #000000; /* Dark text */
}

a {
  color: #007bff; /* Link color */
}

button {
  background-color: #f3f4f6; /* Button background */
  color: #000000; /* Button text */
  border: 1px solid #d1d5db; /* Button border */
}

/* Dark Theme */
.dark body {
  background-color: #121212; /* Dark background */
  color: #ffffff; /* Light text */
}

.dark a {
  color: #1e90ff; /* Link color */
}

.dark button {
  background-color: #1f2937; /* Button background */
  color: #ffffff; /* Button text */
  border: 1px solid #374151; /* Button border */
}